@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');
/*
COLOR THEME

New Primary
#2D3341

Primary
#545E75

Secondary
#A7CCED

Accent
#63ADF2
*/

body {
    font-family: 'Roboto', sans-serif;
    background-color: #2D3341;
    padding: 20px;
    margin: 0;
}

#title {
    color: #fafafa;
    font-weight: 700;
}

#title-emphasis {
    color: #A7CCED;
}

#subtitle {
    font-weight: 400;
    color: #fafafa;
}

.fa-bolt-lightning {
    color: #fafafa
}

#generate-passwords-btn {
    padding: 10px 20px;
    background-color: #A7CCED;
    color: #fafafa;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 700;
}

.container{
    width: 85%;
    height: 50vh;
    max-width: 550px;
    margin: 0 auto;
}

.divider {
    border: 2px solid #63ADF2;
    background-color: #63ADF2;
    margin-top: 20px;
    border-radius: 2px;
}

.results-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.pw-and-copy-container {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
}

.pw-container {
    background-color: #b4d1eb;
    width: 200px;
    height: 40px;
    border-radius: 5px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2D3341;
    font-weight: 700;
}

.copy-container {
    background-color: rgba(99, 173, 242, 1);
    width: 40px;
    height: 40px;
    border-radius: 5px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copy-icon {
    color:#fafafa;
}

@media only screen and (max-width: 768px) {
    .pw-and-copy-container {
        width: 100%;
        justify-content: center;
        gap: 8px;
    }
}